.vscode/launch.json
.vscode/settings.json
__pycache__/__init__.cpython-39.pyc
__pycache__/aa.cpython-39.pyc
__pycache__/buttons.cpython-39.pyc
__pycache__/imports.cpython-39.pyc
__pycache__/preprocess.cpython-39.pyc
__pycache__/test2.cpython-39.pyc
